<section>
    <div>
        <h1>Moratorium Option Calculator</h1>
    </div>
    <div>
        <div class="slidecontainer">
            <p><span id="demo"></span></p>
            <input type="range" min="1" max="3000000" value="1500000" class="slider" id="myRange">
        </div>
    </div>
    <div class="form-container">
        <div>
            <div>
                <label>Tenure</label>
            </div>
            <div>
                <input type="text" placeholder="" name="Tenure" />
            </div>
        </div>
        <div>
            <div>
                <label>ROI</label>
            </div>
            <div>
                <input type="text" placeholder="" name="Tenure" />
            </div>
        </div>
        <div>
            <div>
                <label>EMIs paid till date</label>
            </div>
            <div>
                <input type="text" placeholder="" name="Tenure" />
            </div>
        </div>
        <div>
            <div>
                <label>EMIs paid till date</label>
            </div>
            <div>
                <input type="text" placeholder="" name="Tenure" />
            </div>
        </div>
        <div>
            <div>
                <label>Balance POS</label>
            </div>
            <div>
                <input type="number" value="100" name="Tenure" />
            </div>
        </div>
        <div>
            <div>
                <label>Balance Tenure (in Months)</label>
            </div>
            <div>
                <input type="number" value="100" name="Tenure" />
            </div>
        </div>
        <div>
            <div>
                <label>Compound Intrest option</label>
            </div>
            <div>
                <select name="cars" id="cars">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select>
            </div>
        </div>
    </div>
    <div class="btn-block-container">
        <p>Moratorium Months</p>
        <div class="btn-block">
            <button type="button">Not Availed</button>
            <button type="button">1</button>
            <button type="button">2</button>
            <button type="button">3</button>
        </div>
        <div class="calculate">
            <button type="button">calculate</button>
        </div>
    </div>
</section>